* {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-transition {
  opacity: 70%;
  transition: 2s, opacity .5s linear;
}

.greeting,
.education,
.create {
  font-size: 4rem;
  font-weight: bolder;
}

.light-grey-background {
  background-color: rgb(231, 227, 227);
}

#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #111111;
  text-decoration: none;
}

#footer a {
  color: #ffffff;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}
